<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  css_bundle :profile_show, :tinymce
  js_bundle :profile_show
  add_body_class 'not-editing'
  js_env PROFILE: @user_data if @user_data[:can_edit]
  js_env(folder_id: @user.profile_pics_folder.id) if @user == @current_user
%>
<%= form_tag update_profile_profile_path, { :method => :put, :id => :edit_profile_form, :class => "ic-Form-control" } do %>
  <div class="image-block">
    <div class="image-block-image profile-avatar-wrapper">
      <% if @user_data[:can_edit_avatar] %>
        <%= avatar(@user_data[:id], size: 128, url: '#', edit: true, class: "profile-link",
            title: t('titles.click_to_change_profile_pic', "Click to change profile pic"),
            sr_content: t('Click to change profile picture for %{display_name}', :display_name => @user.short_name)) %>
      <% elsif @user != @current_user %>
        <%= avatar(@user, size: 128, url: report_avatar_image_url(@user.id),
            class: "report_avatar_link", show_flag: true,
            title: t("Click to report profile picture"),
            sr_content: t('Click to report profile picture for %{display_name}', :display_name => @user.short_name)) %>
      <% else %>
        <%= avatar(@user_data[:id], size: 128, url: nil) %>
      <% end %>
    </div>

    <div class="profileContent__Block">
      <% if @user_data[:can_edit_name] %>
        <h2 class="hide-if-editing"><%= @user_data[:short_name] %> <% if @user_data[:pronouns] %><i>(<%= @user_data[:pronouns] %>)</i><% end %></h2>
        <label class="show-if-editing ic-Label"><%= t('name', 'Name') %>:
          <input aria-label="<%= t 'Name' %>" id="name_input" class="ic-Input" type="text" name="user[short_name]" value="<%= @user_data[:short_name] %>" required>
        </label>
        <%# even if @domain_root_account.settings[:can_add_pronouns] is false, we still want to let someone that has pronouns set to see this so they can unset them  %>
        <% if @user.pronouns || @domain_root_account.settings[:can_add_pronouns] %>
          <label for="pronouns"class="show-if-editing ic-Label"><%= t('Pronouns') %>:</label>
          <%= select_tag :pronouns,
            options_for_select(([[t("None"), '']] + @domain_root_account.pronouns + [@user.pronouns]).compact.uniq, @user.pronouns),
            class:"show-if-editing",
            disabled:!@domain_root_account.can_change_pronouns?
          %>
        <% end %>
        <p class="profileDetails">
          <span class="hide-if-editing"><%= @user_data[:title] %></span>
          <label class="show-if-editing ic-Label"><%= t('title', 'Title') %>:
            <input aria-label="<%= t 'Title' %>" class="ic-Input" type="text" name="user_profile[title]" value="<%= @user_data[:title] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('phone', 'Phone') %></h3>
          <span class="hide-if-editing"><%= @user_data[:phone] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Phone' %>" class="ic-Input" type="text" name="user_profile[phone]" value="<%= @user_data[:phone] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('member_type', 'Member Type') %></h3>
          <span class="hide-if-editing"><%= @user_data[:member_type] %></span>
          <label class="show-if-editing ic-Label">
            <select class="ic-Input" aria-describedby="hints_language" name="user_profile[member_type]" id="user_locale">
              <option value="">Select</option>
              <option value="paid">Paid</option>
              <option value="free">Free</option>
            </select>
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('geographic_location', 'Geographic Location') %></h3>
          <span class="hide-if-editing"><%= @user_data[:geographic_location] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Geographic Location' %>" class="ic-Input" type="text" name="user_profile[geographic_location]" value="<%= @user_data[:geographic_location] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('speciality_focus', 'Speciality/Focus') %></h3>
          <span class="hide-if-editing"><%= @user_data[:speciality_focus] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'speciality_focus' %>" class="ic-Input" type="text" name="user_profile[speciality_focus]" value="<%= @user_data[:speciality_focus] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('major', 'Major') %></h3>
          <span class="hide-if-editing"><%= @user_data[:major] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Major' %>" class="ic-Input" type="text" name="user_profile[major]" value="<%= @user_data[:major] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('race', 'Race') %></h3>
          <span class="hide-if-editing"><%= @user_data[:race] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Race' %>" class="ic-Input" type="text" name="user_profile[race]" value="<%= @user_data[:race] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('ethnicity', 'Ethnicity') %></h3>
          <span class="hide-if-editing"><%= @user_data[:ethnicity] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Ethnicity' %>" class="ic-Input" type="text" name="user_profile[ethnicity]" value="<%= @user_data[:ethnicity] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('sexual_orientation', 'Sexual Orientation') %></h3>
          <span class="hide-if-editing"><%= @user_data[:sexual_orientation] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Sexual Orientation' %>" class="ic-Input" type="text" name="user_profile[sexual_orientation]" value="<%= @user_data[:sexual_orientation] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('first_generation', 'First Generation') %></h3>
          <span class="hide-if-editing"><%= @user_data[:first_generation] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'First Generation' %>" class="ic-Input" type="text" name="user_profile[first_generation]" value="<%= @user_data[:first_generation] %>">
          </label>
        </p>
        <p class="profileDetails">
        <h3 class="profileHeader"><%= t('second_generation', 'Second Generation') %></h3>
          <span class="hide-if-editing"><%= @user_data[:second_generation] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Second Generation' %>" class="ic-Input" type="text" name="user_profile[second_generation]" value="<%= @user_data[:second_generation] %>">
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('gender', 'Gender') %></h3>
          <span class="hide-if-editing"><%= @user_data[:gender] %></span>
          <label class="show-if-editing ic-Label">
            <select class="ic-Input" aria-describedby="hints_language" name="user_profile[gender]">
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('disability_status', 'Disability Status') %></h3>
          <span class="hide-if-editing"><%= @user_data[:disability_status] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Disability Status' %>" class="ic-Input" type="text" name="user_profile[disability_status]" value="<%= @user_data[:disability_status] %>">
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('income_status', 'Income Status') %></h3>
          <span class="hide-if-editing"><%= @user_data[:income_status] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Income Status' %>" class="ic-Input" type="text" name="user_profile[income_status]" value="<%= @user_data[:income_status] %>">
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('immigration_status', "Immigration Status") %></h3>
          <span class="hide-if-editing"><%= @user_data[:immigration_status] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Immigration Status' %>" class="ic-Input" type="text" name="user_profile[immigration_status]" value="<%= @user_data[:immigration_status] %>">
          </label>
        </p>

        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('areas_of_interest', "Areas of interest") %></h3>
          <span class="hide-if-editing"><%= @user_data[:areas_of_interest] %></span>
          <label class="show-if-editing ic-Label">
            <select class="ic-Input" aria-describedby="hints_language" name="user_profile[areas_of_interest]">
              <option value="">Select</option>
              <option value="Core Course Curriculum">Core Course Curriculum</option>
            </select>
          </label>
        </p>

        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('important_to_me', "Important To Me") %></h3>
          <span class="hide-if-editing"><%= @user_data[:important_to_me] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Important To Me' %>" class="ic-Input" type="text" name="user_profile[important_to_me]" value="<%= @user_data[:important_to_me] %>">
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('about_me', "About Me") %></h3>
          <span class="hide-if-editing"><%= @user_data[:about_me] %></span>
          <label class="show-if-editing ic-Label">
            <textarea class="ic_Input" id="about_me" name="user_profile[about_me]" aria-labelledby="profile_background_info_on_the_mentor_label"><%= @user_data[:about_me] %></textarea>
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('professional_interests_experiences', "Professional Interests And Experiences") %></h3>
          <span class="hide-if-editing"><%= @user_data[:professional_interests_experiences] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Professional Interests And Experiences' %>" class="ic-Input" type="text" name="user_profile[professional_interests_experiences]" value="<%= @user_data[:professional_interests_experiences] %>">
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('professional_goal', "Professional Goal") %></h3>
          <span class="hide-if-editing"><%= @user_data[:professional_goal] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Professional Goal' %>" class="ic-Input" type="text" name="user_profile[professional_goal]" value="<%= @user_data[:professional_goal] %>">
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('permanent_address', "Parmanent Address") %></h3>
          <span class="hide-if-editing"><%= @user_data[:permanent_address] %></span>
          <label class="show-if-editing ic-Label">
            <textarea class="ic_Input" id="permanent_address" name="user_profile[permanent_address]" aria-labelledby="profile_background_info_on_the_mentor_label"><%= @user_data[:permanent_address] %></textarea>
          </label>
        </p>
        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('field_of_specialization', "Field of specialization") %></h3>
          <span class="hide-if-editing"><%= @user_data[:field_of_specialization] %></span>
          <label class="show-if-editing ic-Label">
            <input aria-label="<%= t 'Field of Specialization' %>" class="ic-Input" type="text" name="user_profile[field_of_specialization]" value="<%= @user_data[:field_of_specialization] %>">
          </label>
        </p>

        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('background_info_on_the_mentor', "Background info on the mentor") %></h3>
          <span class="hide-if-editing"><%= @user_data[:background_info_on_the_mentor] %></span>
          <label class="show-if-editing ic-Label">
            <textarea class="ic_Input" id="profile_background_info_on_the_mentor" name="user_profile[background_info_on_the_mentor]" aria-labelledby="profile_background_info_on_the_mentor_label"><%= @user_data[:background_info_on_the_mentor] %></textarea>
          </label>
        </p>

        <p class="profileDetails">
          <h3 class="profileHeader"><%= t('project_for_mentees', "Project for mentees") %></h3>
          <span class="hide-if-editing"><%= @user_data[:project_for_mentees] %></span>
          <label class="show-if-editing ic-Label">
            <select class="ic-Input" aria-describedby="hints_language" name="user_profile[project_for_mentees]">
              <option value="">Select</option>
            </select>
          </label>
        </p>
    <% else %>
        <h2><%= @user_data[:short_name] %> <% if @user_data[:pronouns] %><i>(<%= @user_data[:pronouns] %>)</i><% end %></h2>
        <p><%= @user_data[:title] %></p>
      <% end %>

      <div class="show-if-editing edit-contact-methods">
        <h3 class="profileHeader"><%= t('#profile.ways_to_contact_me', "Contact") %></h3>
          <% if @user_data[:user_services].present? %>
            <ul class="social-links">
              <li>
                <label for="social_message" class="social hide-text message ic-Label" title="<%= t :message_title, 'Message' %>" data-tooltip><%= t :message_me, 'message me in Canvas' %></label>
              </li>
              <% @user_data[:user_services].each do |s| %>
                <li>
                  <% service_name = s[:service_name] || s[:service].to_s.titleize %>
                  <label for="social_<%= s[:service] %>" class="social hide-text <%= s[:service] %> ic-Label" title="<%= service_name %>" data-tooltip><%= t :service_contact, 'contact %{user} with %{service}', :user => @user_data[:short_name], :service => service_name %></label>
                  <input class="ic-Input" type="hidden" value="0" name="user_services[<%= s[:service] %>">
                  <%= check_box_tag "user_services[#{s[:service]}]", 1, s[:visible], :id => "social_#{s[:service]}" %>
                </li>
              <% end %>
            </ul>
            <div class="social-instructions">
              <p>
                <%= t(:social_instructions, "Check the contact methods you'd like to be visible to others on your profile.") %><br>
                <%= link_to(t(:manage_settings, "Manage Registered Services"), settings_profile_path)  %>
              </p>
            </div>
          <% else %>
          <p class="profileDetails">
            <h3 class="profileHeader"><%= t('email', "Email") %></h3>
            <span class="hide-if-editing"><%= @user_data[:primary_email] %></span>
            <label class="show-if-editing ic-Label">
              <%= @user_data[:primary_email] %>
            </label>
          </p>
          <p>You can add more emails in the <%= link_to('settings', settings_profile_path) %> page.</p>
          <p><%= t('#profile.you_have_no_services', "No registered services, You can add some on the *settings* page.", :name => @user_data[:short_name], :wrapper => link_to('\1', settings_profile_path)) %></p>
          <% end %>
      </div>

      <% if !@user_data[:can_edit_name] %>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('phone', "Phone") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:phone] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Phone' %>" class="ic-Input" type="text" name="user_profile[phone]" value="<%= @user_data[:phone] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('member_type', "Member type") %></h3>
            <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:member_type] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Member type' %>" class="ic-Input" type="text" name="user_profile[member_type]" value="<%= @user_data[:member_type] %>">
            </label>
            </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('geographic_location', "Geographic location") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:geographic_location] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Geographic location' %>" class="ic-Input" type="text" name="user_profile[geographic_location]" value="<%= @user_data[:geographic_location] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('speciality_focus', "Speciality focus") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:speciality_focus] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Speciality focus' %>" class="ic-Input" type="text" name="user_profile[speciality_focus]" value="<%= @user_data[:speciality_focus] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('majore', "Major") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:major] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Major' %>" class="ic-Input" type="text" name="user_profile[major]" value="<%= @user_data[:major] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('racee', "Race") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:race] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Race' %>" class="ic-Input" type="text" name="user_profile[race]" value="<%= @user_data[:race] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('ethnicity', "Ethnicity") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:ethnicity] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Ethnicity' %>" class="ic-Input" type="text" name="user_profile[ethnicity]" value="<%= @user_data[:ethnicity] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('sexual_orientatione', "Sexual orientation") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:sexual_orientation] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Sexual orientation' %>" class="ic-Input" type="text" name="user_profile[sexual_orientation]" value="<%= @user_data[:sexual_orientation] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('first_generatione', "First generation") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:first_generation] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'First generation' %>" class="ic-Input" type="text" name="user_profile[first_generation]" value="<%= @user_data[:first_generation] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('second_generation', "Second generation") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:second_generation] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Second generation' %>" class="ic-Input" type="text" name="user_profile[second_generation]" value="<%= @user_data[:second_generation] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('gender', "Gender") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:gender] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Gender' %>" class="ic-Input" type="text" name="user_profile[gender]" value="<%= @user_data[:gender] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('disability_statuse', "Disability status") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:disability_status] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Disability status' %>" class="ic-Input" type="text" name="user_profile[disability_status]" value="<%= @user_data[:disability_status] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('income_status', "Income status") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:income_status] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Income status' %>" class="ic-Input" type="text" name="user_profile[income_status]" value="<%= @user_data[:income_status] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('immigration_status', "Immigration status") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:immigration_status] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Immigration status' %>" class="ic-Input" type="text" name="user_profile[immigration_status]" value="<%= @user_data[:immigration_status] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('areas_of_interest', "Areas of interest") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:areas_of_interest] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Areas of interest' %>" class="ic-Input" type="text" name="user_profile[areas_of_interest]" value="<%= @user_data[:areas_of_interest] %>">
            </label>
          </p>
        </div>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('important_to_me', "Important To Me") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:important_to_me] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Important To Me' %>" class="ic-Input" type="text" name="user_profile[important_to_me]" value="<%= @user_data[:important_to_me] %>">
            </label>
          </p>
        </div>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('about_me', "About Me") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:about_me] %></span>
            <label class="show-if-editing ic-Label">
              <textarea class="ic_Input" id="about_me" name="user_profile[about_me]" aria-labelledby="profile_background_info_on_the_mentor_label"><%= @user_data[:about_me] %></textarea>
            </label>
          </p>
        </div>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('professional_interests_experiences', "Professional Interests And Experiences") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:professional_interests_experiences] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Professional Interests And Experiences' %>" class="ic-Input" type="text" name="user_profile[professional_interests_experiences]" value="<%= @user_data[:professional_interests_experiences] %>">
            </label>
          </p>
        </div>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('professional_goal', "Professional Goal") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:professional_goal] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Professional Goal' %>" class="ic-Input" type="text" name="user_profile[professional_goal]" value="<%= @user_data[:professional_goal] %>">
            </label>
          </p>
        </div>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('permanent_address', "Parmanent Address") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:permanent_address] %></span>
            <label class="show-if-editing ic-Label">
              <textarea class="ic_Input" id="permanent_address" name="user_profile[permanent_address]" aria-labelledby="profile_background_info_on_the_mentor_label"><%= @user_data[:permanent_address] %></textarea>
            </label>
          </p>
        </div>
        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('field_of_specialization', "Field of specialization") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:field_of_specialization] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Field of specialization' %>" class="ic-Input" type="text" name="user_profile[field_of_specialization]" value="<%= @user_data[:field_of_specialization] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('background_info_on_the_mentor', "Background info on the mentor") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:background_info_on_the_mentor] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Background info on the mentor' %>" class="ic-Input" type="text" name="user_profile[background_info_on_the_mentor]" value="<%= @user_data[:background_info_on_the_mentor] %>">
            </label>
          </p>
        </div>

        <div class="hide-if-editing">
          <h3 class="profileHeader"><%= t('project_for_mentees', "Project for mentees") %></h3>
          <p class="profileDetails">
            <span class="hide-if-editing"><%= @user_data[:project_for_mentees] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Project for mentees' %>" class="ic-Input" type="text" name="user_profile[project_for_mentees]" value="<%= @user_data[:project_for_mentees] %>">
            </label>
          </p>
        </div>
      <% end %>
      <div class="hide-if-editing">
        <h3 class="profileHeader"><%= t :ways_to_contact_user, "Contact" %></h3>
        <% if @user_data[:user_services].blank? && @user == @current_user %>
          <p class="profileDetails">
            <h3 class="profileHeader"><%= t('email', "Email") %></h3>
            <span class="hide-if-editing"><%= @user_data[:primary_email] %></span>
            <label class="show-if-editing ic-Label">
              <input aria-label="<%= t 'Email' %>" class="ic-Input" type="text" name="user_profile[email]" value="<%= @user_data[:primary_email] %>">
            </label>
          </p>
          <p>You can add more emails in the <%= link_to('settings', settings_profile_path) %> page.</p>
          <p><%= t('#profile.you_have_no_services', "No registered services, you can add some on the *settings* page.", :name => @user_data[:short_name], :wrapper => link_to('\1', settings_profile_path)) %></p>
        <% else %>
          <ul class="social-links">
            <% if current_user_is_account_admin && @user != @current_user %>
              <li><a href="<%= message_user_path(@user) %>" class="social hide-text message" title="<%= t :message_title, 'Message' %>" data-tooltip><%= t :message_user_canvas, 'Message %{user} in Canvas', :user => @user_data[:short_name] %></a></li>
            <% end %>
            <% if @user_data[:user_services].present? && @user.show_user_services %>
              <% @user_data[:user_services].select{|s| s[:visible] }.each do |s| %>
                <% service_name = s[:service_name] || s[:service].to_s.titleize %>
                <li><a href="<%= s[:service_user_link] %>" class="social hide-text <%= s[:service] %>" title="<%= service_name %>" data-tooltip><%= t :service_contact, 'contact %{user} with %{service}', :user => @user_data[:short_name], :service => service_name %></a></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div>
        <h3 id="profile_bio_label" class="profileHeader"><%= t :bio, "Biography" %></h3>
        <% if @user_data[:bio] %>
          <div class="hide-if-editing"><%= raw format_message(@user_data[:bio]).first %></div>
        <% else %>
          <p class="hide-if-editing"><%= t('user_has_no_bio', "%{user} hasn't added a bio", :user => @user_data[:short_name]) %></p>
        <% end %>
        <% if @user_data[:can_edit] %>
          <div class="show-if-editing">
            <textarea class="ic_Input" id="profile_bio" name="user_profile[bio]" aria-labelledby="profile_bio_label"><%= @user_data[:bio] %></textarea>
          </div>
        <% end %>
      </div>

      <div>
        <% if @user != @current_user %>
          <div class="hide-if-editing">
            <h3 class="profileHeader"><%= t :user_enrolled, "Enrollments" %></h3>
            <% if @user_data[:common_contexts] %>
              <ul>
                <% @user_data[:common_contexts].each do |context| %>
                  <li class="profileEnrollment__Items"><%= context[:roles].join(', ') %> in <a href="<%= context[:html_url] %>"><%= context[:name] %></a></li>
                <% end %>
              </ul>
            <% else %>
              <p><%= t('nothing_in_common', "You don't have anything in common") %></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="profile_links">
        <h3 class="profileHeader"><%= t :links, "Links" %></h3>
        <div class="hide-if-editing">
          <% if @user_data[:links].length > 0 %>
            <ul class="profileLink">
              <% @user_data[:links].each do |link| %>
                <li class="profileLink__Item">
                  <i class="icon-link" role="presentation"></i>
                  <a href="<%= add_uri_scheme_name(link[:url]) %>"><%= link[:title] %></a>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p><%= t  :no_links, "%{name} hasn't added any links", :name => @user_data[:short_name] %></p>
          <% end %>
        </div>

        <% if @user_data[:can_edit] %>
          <input type="hidden" name="delete_links" value="1">
          <div class="show-if-editing">
            <table id="edit_links_table">
              <thead>
                <th scope="col"><%= t :links_title, 'Title' %></th>
                <th></th>
                <th scope="col"><%= t :links_url, 'URL' %></th>
              </thead>
              <tbody id="profile_link_fields"></tbody>
            </table>
            <button data-event="addLinkField" class="btn btn-small"><%= t :add_link_field, "Add another link" %></button>
          </div>
        <% end %>
      </div>

      <% if @user_data[:can_edit] %>
        <div class="form-actions no-margin-bottom show-if-editing">
          <button data-event="cancelEditProfile" class="btn"><%= t('cancel', 'Cancel') %></button>
          <button class="btn btn-primary"><%= t('save_profile', 'Save Profile') %></button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>